@page
@model Planets.Pages.homepageModel
{
    ViewData["Title"] = "Planet List";
}
<h1>@ViewData["Title"]</h1>

<a href="mar.cshtml">Mars</a>
<a href="jup.cshtml">Jupiter</a>
<a href="sat.cshtml">Saturn</a>
<a href="ven.cshtml">Venus</a>