@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Planet Information";
}
<h1>@ViewData["Title"]</h1>

<p>Name: Venus</p>
<p>Mass: 4.87</p>
<p>Diameter: 12,104</p>
<p>Density: 5243</p>
<p>Gravity: 8.9</p>